body{
  background-image: url(D:\ProyectosArian\music_player_react\public\Tomorrowland2015.jpg);

}

.titulo{
  text-align: center;
  color: white;
}

.container{
  height: 600px;
  width: 400px;
  background: black;
  margin: auto;
  border-start-start-radius:5px;
 
}
.lista{
  color: white;
  font-size: 17px;

}
li{
  padding-top: 10px;
  cursor: pointer;
}
.controles{
  width: 400px;
  height: 70px;
  background:blue;
  border-end-end-radius:5px;
  
}
.botones{
 display:inline; 
}
button{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 80px;
  border-radius:5px;
  cursor: pointer;
}