.ol{
    max-width: 400px;
    margin:auto;
    cursor: pointer;
}

.ol :hover {
    background-color:green; /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
}

.menu{
    max-width: 400px;
    margin:auto;
    height: 80px;
}

.titulo{
    text-align: center;
}
